<h2>Probando Pipe Personalizado de Nombres</h2>
@for (item of nombresCompletos; track $index) {
  <p>{{item}} => {{item | iniciales}}</p>
}

<h2>Probando Pipe Personalizado Contraseña</h2>

<p>{{contrasena | ocultarInicio:3}}</p>
<p>{{contrasena}}</p>
<p>{{"inadaptados" | ocultarInicio:8}}</p>
<p>{{"123" | ocultarInicio:8}}</p>

<h2>Pipes Predeterminados</h2>

<h2>Fechas Formateadas</h2>
<ul>
  @for(item of fechas; track $index) {
    <li>
      {{item | date:"fullDate"}}
    </li>
  }
</ul>

<h2>Sueldos Formateados</h2>
<ul>
  @for(item of sueldos; track $index) {
    <li>
      {{item | number:"1.2-2"}}
    </li>
  }
</ul>